@model PR3M.Models.MaterialsFullControllViewModels
@using PR3M.Common
<div id="myBtnContainer">
    <div class="bton active" onclick="filterSelection('all')"> Show all</div>
    <div class="bton" onclick="filterSelection('Folder')">Document</div>
    <div class="bton" onclick="filterSelection('Image')">Image</div>
    <div class="bton" onclick="filterSelection('Video')">Video</div>
</div>
<div class="buttons">
    <button class="grid btn btn-info btn-lg"><i class="fa fa-th" aria-hidden="true"></i>&ensp;Grid View</button>
    <button class="list btn btn-info btn-lg"><i class="fa fa-list" aria-hidden="true"></i>&ensp;List View</button>
</div>
<div class="checkbox-file">
    <form action="" class="checkbox-file-form" ">
        <input type="button" value="Search" class="search-button" onclick="filter()" id="search">
        <input type="search" id="gsearch" name="gsearch" value="@Session["gsearch"]">
        <input type="hidden" value="@Model.CurrentFolder.ParrentId" name="folderId" id="SearchfolderId" />
    </form>
    <form class="checkbox-file-form">
        @Html.CheckBox("hiddenview", new { @id = "hiddenview", @value = ViewBag.ViewHidden })
        <label for="hiddenview">view hidden</label><br>
    </form>
</div>
<div class="grid ul">
    @foreach (PR3M.DBModel.FileInDB m in Model.CurrentFolder.FileInDBs.OrderByDescending(p => p.LaunchedDate))
    {
        string filterType = "";
        int typeOfMine = CommonOutput.typeOfMIME(m.MIMEType);
        if (typeOfMine == 1) { filterType = "Image li"; }
        else if (typeOfMine == 2) { filterType = "Video li"; }
        else if (typeOfMine == 3) { filterType = "Folder li"; }
        <div id="materials[@m.FileId]" class="filterDiv @filterType show">
            <div class="gallery">
                @if (typeOfMine == 1)
                {
                    <a target="_blank" href="~/@(CommonOutput.GetFullPathOfFile(m.FileId))" class="image-gallery">
                        <img src="~/@(CommonOutput.GetFullPathOfFile(m.FileId))" alt="Cinque Terre">
                    </a>
                }
                else if (typeOfMine == 2)
                {
                    <video controls>
                        <source src="~/Content/Materials/@CommonOutput.GetFullPathMaterial(m.FileId)" type="@CommonOutput.RtnVideoControlType(m.MIMEType)">
                        @*<source src="Videos/movie.ogv" type="video/ogg">*@
                        Your browser does not support HTML5 video.
                    </video>
                }
                else //if (typeOfMine == 3)
                {
                    <a target="_blank" href="~/Content/Materials/@CommonOutput.GetFullPathMaterial(m.FileId)" class="image-gallery">
                        <img src="~/Content/Image/file.png" alt="Cinque Terre">
                    </a>
                }
                <div class="infor-gallery">
                    <div class="desc">@(m.FileName + "." + m.MIMEType)</div>
                    <div class="name-action-file">
                        <div>
                            <i class="fa fa-user" aria-hidden="true" style="padding: 0px;margin: 0px 1px"></i>&ensp;@m.User.FullName
                        </div>
                        <div>
                            <i class="fa fa-calendar" aria-hidden="true" style="padding: 0px;margin: 0px 1px"></i>&ensp;@m.LaunchedDate
                        </div>
                    </div>
                    <div class="group">
                        <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Download","PRMain",new { MaterialsId = m.FileId })'">Download</button>
                        <button type="button" class="btn btn-success" onclick="DeleteFile(@m.FileId)">Delete</button>
                        <button type="button" class="btn btn-success heo" onclick="displayModalEditFile(@m.FileId)">Edit</button>
                        @if (m.IsHide)
                        {
                            @*<button type="button" class="btn btn-success hidenItem" data-id="@m.MaterialsId">UnHide</button>*@
                            <a href="#" class="btn-active" data-id="@m.FileId" onclick="UpdateHideFile(@m.FileId,false)">UnHide</a>

                        }
                        else
                        {
                            @*<button type="button" class="btn btn-success hidenItem" data-id="@m.MaterialsId">Hidden</button>*@
                            <a href="#" class="btn-active" data-id="@m.FileId" onclick="UpdateHideFile(@m.FileId,true)">Hide</a>
                        }
                    </div>
                    <div class="group">
                        <button type="submit" class="btn btn-success" onclick="location.href='@Url.Action("Download","PRMain",new { MaterialsId = m.FileId })'">Check MD5</button>                        
                    </div>
                </div>
            </div>
        </div>
    }
</div>