@model PR3M.Models.MaterialsFullControllViewModels
@using PR3M.DBModel
@using PR3M.Common
@{
    ViewBag.Title = "Index";
}
@section PrivateCss{
    <link rel="stylesheet" href="~/Content/Css/PRMain.css" />
    <style>
        .uploadFile {
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 16rem;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, .4);
        }

        .displayNone {
            display: none;
        }
    </style>
}
@section HeaderAndFooter{
    <link href="~/Content/Css/CssHeader1.css" rel="stylesheet" />
    <link href="~/Content/Css/CssFooter.css" rel="stylesheet" />
}
@section TextHeaderTopBefore{
    <div class="text-header-top"><a href="/Menu">Quay về trang menu</a></div>
}
@section TextHeaderTopAfter{
    <div class="text-header-top">
        @Html.ActionLink("Đăng xuất", "Account");
    </div>
}
<section class="body-section">
    <div class="action">
        <div class="btn btn-success btn-lg su"><i class="fa fa-folder" aria-hidden="true"></i>&ensp;Tạo folder mới </div>
        <div class="btn btn-success btn-lg" onclick="displayModalInputFile()"><i class="fa fa-upload" aria-hidden="true"></i>&ensp;Tải tệp lên</div>
        <div id="uploadFolder" class="btn btn-success btn-lg"><i class="fa fa-upload" aria-hidden="true"></i></div>
    </div>
    <div class="threat1">
        <a>Folder:</a>
        @foreach (PR3M.Models.FolderLinkViewModels flvm in CommonOutput.GetListLinkFolder(Model.CurrentFolder.FolderId))
        {
            @Html.ActionLink(flvm.FolderName + " > ", "Index", new { @FolderId = flvm.FolderId })
        }

    </div>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            <strong>@TempData["SuccessMessage"].ToString()</strong>
        </div>
    }
    else if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            <strong>@TempData["ErrorMessage"].ToString()</strong>
        </div>
    }
</section>
<!-- Modal Create file -->
<div class="bisu">
    <div class="modal-content-bisu">
        <span class="close-modal">&times;</span>
        @using (Html.BeginForm("CreateFolder", "PRMain", FormMethod.Post, new { @class = "form-inline" }))
        {
            <label for="email">Tên folder mới: </label>
            <input type="text" name="folderNameInput" placeholder="Enter name" />
            <button type="submit" class="accept" name="currentFolderId" value="@Model.CurrentFolder.FolderId">Đồng ý</button>
        }
    </div>
</div>
<!-- Modal upload files -->
<div class="uploadFile displayNone" id="modalInputFile">
    <div class="modal-content-bisu">
        <span class="close-modal">&times;</span>
        @using (Html.BeginForm("UploadFile", "PRMain", FormMethod.Post, new { @class = "form-inline", enctype = "multipart/form-data" }))
        {
            <label for="email">Tải file mới: </label>
            <input type="file" name="fileInput" id="fileInput" multiple/>
            <input type="hidden" name="currentFolderId" value="@Model.CurrentFolder.FolderId" />
            <button type="submit" class="accept">Đồng ý</button>
        }
    </div>
</div>

<div class="uploadFile displayNone" id="modalEditFile">
    <div class="modal-content-bisu">
        <span class="close-modal">&times;</span>
        @using (Html.BeginForm("EditFile", "PRMain", FormMethod.Post, new { @class = "form-inline", enctype = "multipart/form-data" }))
        {
            <label for="email">Cập nhật file mới: </label>
            <input type="file" name="fileInput" id="fileInput"  />
            <input type="hidden" id="fileId"name="fileId" />
            <button type="submit" class="accept">Đồng ý</button>
        }
    </div>
</div>
<section class="body-section">
    <div class="file-zone">
        @if (Model.CurrentFolder.ParrentId != 0)
        {
            <div class="file-data">
                <i class="fa fa-folder" aria-hidden="true" style="margin: 20px 15px"></i>
                <p>@Html.ActionLink("...", "Index", "PRMain", new { folderId = Model.CurrentFolder.ParrentId }, new { @class = "newfile", }) </p>
            </div>
        }
        @foreach (Folder f in Model.FoldersInside)
        {
            <div class="file-data">
                <i class="fa fa-folder" aria-hidden="true" style="margin: 20px 15px"></i>
                <p>@Html.ActionLink(@f.FolderName, "Index", "PRMain", new { folderId = f.FolderId }, new { @class = "newfile", }) </p>
                <button class="close-button deleteButton" value="@f.FolderId" onclick="SetDeleteFolder(this.value)">&times;</button>
            </div>
        }
    </div>
</section>
<section>
    <div id="container">
        @Html.Action("DataPartial");
    </div>
</section>
@*<div id="id01" class="modal">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
        <form class="modal-content" action="/action_page.php">
            <div class="container">
                <h1>Delete Document</h1>
                <div class="question">Are you sure you want to delete your document?</div>
                <div class="clearfix">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="deletebtn">Delete</button>
                </div>
            </div>
        </form>
    </div>
    <div class="trang">
        <div class="modal-content-trang">
            <span class="close-modal">&times;</span>
            <form class="form-inline" action="/action_page.php">
                <label for="email">Sửa tên tệp tin</label>
                <input type="text" placeholder="Enter name">
                <button type="submit" class="accept">Đồng ý</button>
            </form>
        </div>
    </div>
    <div class="confirmDelete" id="deleteModal">
        <div class="modal-content-trang">
            <span class="close-modal">&times;</span>
            <h3>Xác nhận xóa folder <span id="folderName"></span>?</h3>
            <div style="height: 70px"></div>
            <div class="text-center">
                <button class="btn btn-success" id="deleteBtn" value="">Đồng ý</button>
                <button class="btn btn-danger" onclick="document.getElementById('deleteModal').style.display='none'">Hủy bỏ</button>
            </div>
            <br />
        </div>
    </div>
    <div class="message">
        <div class="modal-content-trang text-center">
            <img alt="success" src="~/Content/Image/success-icon-23187.png" width="100" height="100" />
            <h3 class="success-message text-center">Xoá folder thành công!</h3>
        </div>
    </div>*@
@section scripts{
    <script src="~/Scripts/JS/Account.js"></script>
    <script src="~/Scripts/JS/PRMainController.js"></script>
    <script src="~/Scripts/jquery.uploadfile.js"></script>
    <script>

        function displayModalInputFile() {
            $('#modalInputFile').removeClass('displayNone');

        }       

        $(document).ready(function () {
            $("#uploadFolder").uploadFile({
                url: "/PRMain/UploadFolder",
                fileName: "uploadFolder",
                afterUploadAll: function (obj) {
                    window.location.href = "/PRMain/Index?FolderId=" + @Model.CurrentFolder.FolderId;
                }
            });
        });

        function SetDeleteFolder(value) {
            $('#folderName').html("");
            $.ajax({
                url: "/PRMain/GetFolderName",
                data: { folderId: value },
                success: function(data) {
                    $('#folderName').html('<b>' + data + '</b>');
                    $('#deleteBtn').val(value);
                },
                error: function() {
                    alert("Error");
                }
            });
        }

        $('#deleteBtn').click(function() {
            $.ajax({
                url: "/PRMain/DeleteFolder",
                data: { folderId: $('#deleteBtn').val() },
                success: function (data) {
                    if (data === "success") {
                        document.getElementById('deleteModal').style.display = 'none';
                        showMessage("/PRMain/Index?FolderId=" + @Model.CurrentFolder.FolderId);
                    } else {
                        alert(data);
                    }
                },
                error: function () {
                    alert("Error");
                }
            });
        });

        function displayModalEditFile(FileId) {
            debugger;
            $('#modalEditFile').removeClass('displayNone');
            $('#fileId').val(FileId);
        }

        function filter() {
            var folderId = $("#SearchfolderId").val();
            var gSearch = $("#gsearch").val();
            var ViewHidden = $("#hiddenview").val();
            $.ajax({
                type: 'GET',
                url: "@Url.Action("DataPartial", "PRMain")",
                data: { folderId: folderId, ViewHidden: ViewHidden, gsearch: gSearch},
                success: function (data) {
                    document.getElementById("container").innerHTML = data;
                },
                error: function () {
                    document.getElementById("container").innerHTML = "Có lỗi xảy ra!";
                }
            });
        }

        function DeleteFile(fileId) {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("DeleteFile", "PRMain")",
                data: { fileId: fileId},
                success: function (data) {
                    if (data == "True") {
                        $("#search").click();
                    }
                },
                error: function () {
                    alert("Có lỗi xảy ra");
                }
            });
        }
        function UpdateHideFile(fileId, isHide) {
            debugger;
            $.ajax({
                type: 'GET',
                url: "@Url.Action("UpdateHideFile", "PRMain")",
                data: { fileId: fileId, isHide: isHide},
                success: function (data) {
                    if (data == "True") {
                        $("#search").click();
                    }
                },
                error: function () {
                    alert("Có lỗi xảy ra");
                }
            });
        }

    </script>
}
